
{% extends 'indexapp/base.html' %}

{% block header %}
    <h1>index</h1>
{% endblock header %}

{% block content %}
<div class="menu">
    <p class="btn"><a href="{% url 'index_create' %}">新規作成</a></p>
    <p class="btn"><a href="{% url 'index_csv' %}">csv出力</a></p>
    <p class="btn"><a href="{% url 'top' %}">TOP</a></p>
</div>
<table>
    <thead>
        <tr class="border">
            <th scope="col">No.</th>
            <th scope="col">コード</th>
            <th scope="col">品名</th>
            <th scope="col">備考</th>
            <th scope="col">詳細</th>
            <th scope="col">編集</th>
            <th scope="col">削除</th>
        </tr>
    </thead>
    <tbody>
        {% for index in index %}
        <tr class="border">
            <td>{{ index.number }}</td>
            <td>{{ index.code }}</td>
            <td>{{ index.name }}</td>
            <td>{{ index.description }}</td>
            <td><a href="{% url 'index_detail' index.pk %}">詳細</a></td>
            <td><a href="{% url 'index_update' index.pk %}">編集</a></td>
            <td><a href="{% url 'index_delete' index.pk %}">削除</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}